{% extends 'base.html' %}
{% block title %}PATH{% endblock %}
{% block content %}
    <h1>Our Company</h1>

    <h2>About Us</h2>
    <p>Welcome to PATH! We are a group of passionate and caring individuals with a mission: Our mission is To temporarily provide for the basic needs of homeless persons; to provide information, guidance, and support services empowering those we assist to regain productive, self-supportive lifestyles. To provide a hot, nutritious meal for those in need free of charge.</p>

    <h2>Our Services</h2>
    <ul>
        <li>Information & Job Search Guidance</li>
        <li>Residential Savings Plans</li>
        <li>PATH To Recovery</li>
        <li>Housing For Those In Need</li>
    </ul>

    <h2>Contact Us</h2>
    <p>If you have any questions or would like to learn more about our services, please don't hesitate to contact us:</p>
    <ul>
        <li>Phone: 555-1234</li>
        <li>Email: info@ourcompany.com</li>
        <li>Address: 123 Main Street, Anytown USA</li>
    </ul>
    <footer>
        <p>Website Designed by: Hyacinthhax</p>
        <a href="https://hyacinthhax.wordpress.com/">Contact?</a>
    </footer>
{% endblock %}
