{% extends 'base.html' %}
{% block content %}
  <header>
    <h1>Donate</h1>
  </header>
  <main>
    <section>
      <p>Your donation will help us to continue our goal to help people experiencing homelessness </p>
      <p>get off the streets and recover for a chance at a better future.</p>
      <p>We accept donations of any amount, and all donations are tax-deductible.</p>
      <p>We track donation reciepts for 6 months. To donate, please click the button below.</p>
      <a href="https://www.paypal.com/donate/?hosted_button_id=XXXXXXXXXXXXX" class="button">Donate</a>
    </section>
    <section>
      <p>Thank you for your support!</p>
    </section>
  </main>
{% endblock %}
